

    .stage__title {

        width: auto;
        text-align: center;
        
        position: relative;

        font-family: $serif;
        font-weight: 300;
        font-size: 1.4em;
        line-height: 1.1em;

    }

    .title {

        &__main,
        &__sub,
        &__author span,
        &__bpm input {

            margin: -0.1em 0;
            padding: 0.3em 0.5em 0.2em;
            outline: none;
            border: 1px dotted transparent;

            display: inline-block;

            transition: all 0.2s ease;

            &:hover {
                
                border: 1px dotted rgba(0,0,0,0.3);

            }

            &:focus {

                border: 1px solid rgba(0,0,0,0.5);
                background: rgba(200,200,200,0.1);
                box-shadow: 1px 1px 2px rgba(0,0,0,0.1) inset;

            }

        }

        &__main {

            font-weight: 700;

        }

        &__sub {

            font-weight: 300;

        }

        &__author,
        &__bpm {
            
            position: absolute;
            top: -0.5em;
            right: 0.5em;

            font-size: 0.8em;
            margin: 0;

        }

        &__bpm {

            right: auto;
            left: 0.5em;
            font-size: 1em;
            
            input {
                
                font-size: 0.8em;
                width: 5em;
            }

        }

    }