
.note {
    
    &--♪BAR {

        .note__note {

            border-right: 1px black solid;
            height: 90px;

        }

        .note__tab {

            width: 30px;
            visibility: hidden;
        }

    }

    &--♪BAR,
    &--♪RETURN {

        .note__note {

            background: none!important;

        }

        .note__tab {

            width: 30px;
            visibility: hidden;
        }
        
        &:after {

            display: none;

        }

    }
    
    &--♪RETURN {

        display: block;
        width: 0;
        height: 0;
        margin: 0;

    }

    &--♪BAR {

        .note__note {

            border-right: 1px black solid;
            height: 90px;

        }

    }

}