@charset "UTF-8";
    
    $width: 46px;
    $nodeSpace: 4px;

    $startRight: 4px;
    $startMargin: -6px;
    $startWidth: 0px;

    .note {

        padding: 0;
        margin: 0 $startMargin 0 0;
        width: auto;
        height: auto;
        margin-bottom: 30px;

        display: inline-block;
        position: relative;

        &:after {

            content: "";
            width: $startWidth;
            height: 2px;
            background-color: rgba(0,0,0,0.05);

            position: absolute;
            right: $startRight;
            bottom: 20px;

        }

        &--♫ {

            &32 {

                width: $width + ( $startMargin + ( 1 * $nodeSpace ));

                .note__tab { }
                .note__note { }

                &:after { }

            }

            &16 {

                width: $width + ( $startMargin + ( 2 * $nodeSpace ));

                .note__tab { margin-right: $startMargin + ( 2 * $nodeSpace ); }
                .note__note { background-position: -15px 0; }
                &:after { width: $startWidth + ( 2 * $nodeSpace ) - 2px; }

            }

            &8 {

                width: $width + ( $startMargin + ( 4 * $nodeSpace ));

                .note__tab { margin-right: $startMargin + ( 4 * $nodeSpace ); }
                .note__note  { background-position: -30px 0; }
                &:after { width: $startWidth + ( 4 * $nodeSpace ) - 2px; }

            }

            &4 {

                width: $width + ( $startMargin + ( 8 * $nodeSpace ));

                .note__tab { margin-right: $startMargin + ( 8 * $nodeSpace ); }
                .note__note  { background-position: -45px 0; }
                &:after { width: $startWidth + ( 8 * $nodeSpace ) - 2px; }

            }

            &2 {

                width: $width + ( $startMargin + ( 16 * $nodeSpace ));

                .note__tab { margin-right: $startMargin + ( 16 * $nodeSpace ); }
                .note__note  { background-position: -60px 0; width: 10px; }
                &:after { width: $startWidth + ( 16 * $nodeSpace ) - 2px; }

            }

            &1 {

                width: $width + ( $startMargin + ( 32 * $nodeSpace ));

                .note__tab { margin-right: $startMargin + ( 32 * $nodeSpace ); }
                .note__note  { background-position: -73px 0; width: 10px; }
                &:after { width: $startWidth + ( 32 * $nodeSpace ) - 2px; }

            }

        }

    }