@charset "UTF-8";    
    
    $namecolor: #909090;

    $path: "../img/";
    
    $ocarina:   $path + "ocarina-sprite.png";
    $shole:     $path + "hole.png";
    $hole:      $path + "hole-large.png";
    
    $height: 48px;
    $width: 46px;

    $hoffset: 0px;
    $voffset: 7px;

    $bg:        $hoffset $voffset;
    $bghover:   $hoffset ($voffset - $height);
    $bgactive:  $hoffset ($voffset - ($height * 2));

    $lthumb:    (14px + $hoffset) (34px + $voffset);
    $rthumb:    (29px + $hoffset) (29px + $voffset);
    $lindex:    ( 4px + $hoffset) (22px + $voffset);
    $rindex:    (23px + $hoffset) (19px + $voffset);
    $lmiddle:   ( 9px + $hoffset) (20px + $voffset);
    $rmiddle:   (25px + $hoffset) (14px + $voffset);
    $lring:     (14px + $hoffset) (17px + $voffset);
    $rring:     (29px + $hoffset) (10px + $voffset);
    $lpinky:    (17px + $hoffset) (12px + $voffset);
    $rpinky:    (34px + $hoffset) ( 7px + $voffset);
    $lextra:    (14px + $hoffset) (24px + $voffset);
    $rextra:    (25px + $hoffset) ( 8px + $voffset);


    @mixin holes( $holes: 0 , $sholes: 0 ) {

        $image: "";
        $repeat: "";

        @for $i from 0 to $holes {
            $image: $image + "url( #{$hole} ) , ";
            $repeat: $repeat + "no-repeat , ";
        }

        @for $i from 0 to $sholes {
            $image: $image + "url( #{$shole} ) , ";
            $repeat: $repeat + "no-repeat , ";
        }

        $image: $image + "url( #{$ocarina} )";
        $repeat: $repeat + "repeat-y";

        background-image: #{$image};
        background-repeat: #{$repeat};

    }




    .note {

        &__tab {

            width: $width;
            height: $height;

            @include holes();
            background-position: $bg; 

        }

        &__name {

            font-weight: 800;
            font-size: 12px;
            color: $namecolor;

            position: absolute;
            top: 0px;
            left: 11px;
            width: 100%;

            &:after {
                
                font-size: 10px;
                font-weight: 200;
                color: black;
                text-shadow: none;
                position: relative;
                top: -3px;

            }

        }

        &:hover {

            background-position: $bghover; 

            .note__name {

                color: darken( $namecolor, 30% );

            }

        }

        &--♪ {

            &4AS, &5CS, &5DS, &5FS, &5GS, &5AS, &6CS, &6DS {
                .note__name:after {
                    content: "\266f";
                }
            }

            &4BF, &5DF, &5EF, &5GF, &5AF, &5BF, &6DF, &6EF {
                .note__name:after {
                    content: "\266d";
                }
            }




            &4AN .note__tab {

                @include holes(8,4);
                background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $rpinky, $lthumb, $rthumb, $lextra, $rextra, $bg;
                
                &:hover {
                    background-position:
                       $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $rpinky, $lthumb, $rthumb, $lextra, $rextra, $bghover;
                }

            }

            &4AS .note__tab,
            &4BF .note__tab {

                @include holes(8,3);
                background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $rpinky, $lthumb, $rthumb, $lextra, $bg;
                
                &:hover {
                    background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $rpinky, $lthumb, $rthumb, $lextra, $bghover;
                }

            }

            &4BN .note__tab {

                @include holes(8,3);
                background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $rpinky, $lthumb, $rthumb, $rextra, $bg;
                
                &:hover {
                    background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $rpinky, $lthumb, $rthumb, $rextra, $bghover;
                }

            }

            &5CN .note__tab {

                @include holes(8,2);
                background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $rpinky, $lthumb, $rthumb, $bg;
                
                &:hover {
                    background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $rpinky, $lthumb, $rthumb, $bghover;
                }

            }

            &5CS .note__tab,
            &5DF .note__tab {

                @include holes(7,3);
                background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $lthumb, $rthumb, $rextra, $bg;
                
                &:hover {
                    background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $lthumb, $rthumb, $rextra, $bghover;
                }

            }

            &5DN .note__tab {

                @include holes(7,2);
                background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $lthumb, $rthumb, $bg;
                
                &:hover {
                    background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $lthumb, $rthumb, $bghover;
                }

            }

            &5DS .note__tab,
            &5EF .note__tab {

                @include holes(7,2);
                background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rpinky, $lpinky, $lthumb, $rthumb, $bg;
                
                &:hover {
                    background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rpinky, $lpinky, $lthumb, $rthumb, $bghover;
                }

            }

            &5EN .note__tab {

                @include holes(6,2);
                background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $lpinky, $lthumb, $rthumb, $bg;
                
                &:hover {
                    background-position:
                   $lindex, $rindex, $lmiddle, $rmiddle, $lring, $lpinky, $lthumb, $rthumb, $bghover;
                }

            }

            &5FN .note__tab {

                @include holes(5,2);
                background-position:
                   $lindex, $rindex, $lmiddle, $lring, $lpinky, $lthumb, $rthumb, $bg;
                
                &:hover {
                    background-position:
                   $lindex, $rindex, $lmiddle, $lring, $lpinky, $lthumb, $rthumb, $bghover;
                }

            }

            &5FS .note__tab,
            &5GF .note__tab {

                @include holes(5,2);
                background-position:
                   $lindex, $rmiddle, $lmiddle, $lring, $lpinky, $lthumb, $rthumb, $bg;
                
                &:hover {
                    background-position:
                   $lindex, $rmiddle, $lmiddle, $lring, $lpinky, $lthumb, $rthumb, $bghover;
                }

            }

            &5GN .note__tab {

                @include holes(4,2);
                background-position:
                   $lindex, $lring, $lmiddle, $lpinky, $lthumb, $rthumb, $bg; 
                
                &:hover {
                    background-position:
                   $lindex, $lring, $lmiddle, $lpinky, $lthumb, $rthumb, $bghover; 
                }

            }

            &5GS .note__tab,
            &5AF .note__tab {

                @include holes(4,2);
                background-position:
                   $lindex, $rring, $lmiddle, $lpinky, $lthumb, $rthumb, $bg; 
                
                &:hover {
                    background-position:
                   $lindex, $rring, $lmiddle, $lpinky, $lthumb, $rthumb, $bghover; 
                }

            }

            &5AN .note__tab {

                @include holes(3,2);
                background-position:
                   $lindex, $lmiddle, $lpinky, $lthumb, $rthumb, $bg; 
                
                &:hover {
                    background-position:
                   $lindex, $lmiddle, $lpinky, $lthumb, $rthumb, $bghover; 
                }

            }

            &5AS .note__tab,
            &5BF .note__tab {

                @include holes(3,2);
                background-position:
                   $lindex, $lpinky, $rring, $lthumb, $rthumb, $bg; 
                
                &:hover {
                    background-position:
                   $lindex, $lpinky, $rring, $lthumb, $rthumb, $bghover; 
                }

            }

            &5BN .note__tab {

                @include holes(2,2);
                background-position:
                   $lindex, $lpinky, $lthumb, $rthumb, $bg; 
                
                &:hover {
                    background-position:
                   $lindex, $lpinky, $lthumb, $rthumb, $bghover; 
                }

            }

            &6CN .note__tab {

                @include holes(1,2);
                background-position:
                   $lpinky, $lthumb, $rthumb, $bg; 
                
                &:hover {
                    background-position:
                   $lpinky, $lthumb, $rthumb, $bghover; 
                }

            }

            &6CS .note__tab,
            &6DF .note__tab {

                @include holes(2,1);
                background-position:
                   $lpinky, $rring, $rthumb, $bg; 
                
                &:hover {
                    background-position:
                   $lpinky, $rring, $rthumb, $bghover; 
                }

            }

            &6DN .note__tab {

                @include holes(1,1);
                background-position:
                   $lpinky, $rthumb, $bg; 
                
                &:hover {
                    background-position:
                   $lpinky, $rthumb, $bghover; 
                }

            }

            &6DS .note__tab,
            &6EF .note__tab {

                @include holes(0,1);
                background-position:
                   $rthumb, $bg; 
                
                &:hover {
                    background-position:
                   $rthumb, $bghover; 
                }

            }

            &6EN .note__tab {

                @include holes(1,0);
                background-position:
                   $lpinky, $bg; 
                
                &:hover {
                    background-position:
                   $lpinky, $bghover; 
                }

            }

            &6FN .note__tab {

                @include holes();
                background-position:
                   $bg; 
                
                &:hover {
                    background-position:
                   $bghover; 
                }

            }



        }

    }