@charset "UTF-8";    
    
    $namecolor: #909090;

    $path: "../img/";
    
    $ocarina:   $path + "ocarina-sprite.png";
    $shole:     $path + "hole.png";
    $hole:      $path + "hole-large.png";
    
    $height: 48px;
    $width: 46px;

    $hoffset: 0px;
    $voffset: 7px;

    $bg:        $hoffset $voffset;
    $bghover:   $hoffset ($voffset - $height);
    $bgactive:  $hoffset ($voffset - ($height * 2));

    $lthumb:    (14px + $hoffset) (34px + $voffset);
    $rthumb:    (29px + $hoffset) (29px + $voffset);
    $lindex:    ( 4px + $hoffset) (22px + $voffset);
    $rindex:    (23px + $hoffset) (19px + $voffset);
    $lmiddle:   ( 9px + $hoffset) (20px + $voffset);
    $rmiddle:   (25px + $hoffset) (14px + $voffset);
    $lring:     (14px + $hoffset) (17px + $voffset);
    $rring:     (29px + $hoffset) (10px + $voffset);
    $lpinky:    (17px + $hoffset) (12px + $voffset);
    $rpinky:    (34px + $hoffset) ( 7px + $voffset);
    $lextra:    (14px + $hoffset) (24px + $voffset);
    $rextra:    (25px + $hoffset) ( 8px + $voffset);


    @mixin holes( $holes: 0 , $sholes: 0 ) {

        $image: "";
        $repeat: "";

        @for $i from 0 to $holes {

            $image: $image + "url( #{$hole} ) , ";
            $repeat: $repeat + "no-repeat , ";

        }

        @for $i from 0 to $sholes {

            $image: $image + "url( #{$shole} ) , ";
            $repeat: $repeat + "no-repeat , ";

        }

        $image: $image + "url( #{$ocarina} )";
        $repeat: $repeat + "repeat-y";
        
        .note__tab {

            background-image: #{$image};
            background-repeat: #{$repeat};
                
        }

    }

    @mixin positions( $fingers: "" ) {
        
        @if $fingers == "" {

            .note__tab { background-position: $bg }
            &:hover .note__tab { background-position: $bghover; }
            &.note--selected .note__tab { background-position: $bgactive; }

        }

        @else {

            .note__tab { background-position: $fingers, $bg; }
            &:hover .note__tab { background-position: $fingers, $bghover; }
            &.note--selected .note__tab { background-position: $fingers, $bgactive; }

        }

    }




    .note {

        &__tab {
            
            position: relative;
            width: $width;
            height: $height;

            @include holes();
            background-position: $bg; 

        }

        &__name {

            font-weight: 800;
            font-size: 12px;
            color: $namecolor;

            position: absolute;
            top: 0px;
            left: 11px;
            width: 100%;

            &:after {
                
                font-size: 10px;
                font-weight: 200;
                color: black;
                text-shadow: none;
                position: relative;
                top: -3px;

            }

        }

        &:hover {

            background-position: $bghover; 

            .note__name {

                color: darken( $namecolor, 30% );

            }

        }

        &--♪ {
            
            // Sharps and Flats

            &4AS, &5CS, &5DS, &5FS, &5GS, &5AS, &6CS, &6DS {
                .note__name:after {
                    content: "\266f";
                }
            }

            &4BF, &5DF, &5EF, &5GF, &5AF, &5BF, &6DF, &6EF {
                .note__name:after {
                    content: "\266d";
                }
            }




            &4AN {

                $fingers: $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $rpinky, $lthumb, $rthumb, $lextra, $rextra;

                @include holes(8,4);
                @include positions($fingers);
            
            }

            &4AS,
            &4BF {

                $fingers: $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $rpinky, $lthumb, $rthumb, $lextra;
                
                @include holes(8,3);
                @include positions($fingers);
                
            
            }

            &4BN {

                $fingers: $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $rpinky, $lthumb, $rthumb, $rextra;
                
                @include holes(8,3);
                @include positions($fingers);
            
            }

            &5CN {

                $fingers: $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $rpinky, $lthumb, $rthumb;

                @include holes(8,2);
                @include positions($fingers);
            
            }

            &5CS,
            &5DF {

                $fingers: $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $lthumb, $rthumb, $rextra;
                
                @include holes(7,3);
                @include positions($fingers);
            
            }

            &5DN {

                $fingers: $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rring, $lpinky, $lthumb, $rthumb;
                
                @include holes(7,2);
                @include positions($fingers);
            
            }

            &5DS,
            &5EF {

                $fingers: $lindex, $rindex, $lmiddle, $rmiddle, $lring, $rpinky, $lpinky, $lthumb, $rthumb;
                
                @include holes(7,2);
                @include positions($fingers);
            
            }

            &5EN {

                $fingers: $lindex, $rindex, $lmiddle, $rmiddle, $lring, $lpinky, $lthumb, $rthumb;
                
                @include holes(6,2);
                @include positions($fingers);
                
            }

            &5FN {

                $fingers: $lindex, $rindex, $lmiddle, $lring, $lpinky, $lthumb, $rthumb;
                
                @include holes(5,2);
                @include positions($fingers);
                
            }

            &5FS,
            &5GF {

                $fingers: $lindex, $rmiddle, $lmiddle, $lring, $lpinky, $lthumb, $rthumb;
                
                @include holes(5,2);
                @include positions($fingers);
            
            }

            &5GN {

                $fingers: $lindex, $lring, $lmiddle, $lpinky, $lthumb, $rthumb; 
                @include holes(4,2);
                @include positions($fingers);
            
            }

            &5GS,
            &5AF {

                $fingers: $lindex, $rring, $lmiddle, $lpinky, $lthumb, $rthumb; 
                @include holes(4,2);
                @include positions($fingers);
            
            }

            &5AN {

                $fingers: $lindex, $lmiddle, $lpinky, $lthumb, $rthumb; 
                @include holes(3,2);
                @include positions($fingers);
            
            }

            &5AS,
            &5BF {

                $fingers: $lindex, $lpinky, $rring, $lthumb, $rthumb; 
                @include holes(3,2);
                @include positions($fingers);
            
            }

            &5BN {

                $fingers: $lindex, $lpinky, $lthumb, $rthumb; 
                @include holes(2,2);
                @include positions($fingers);
            
            }

            &6CN {

                $fingers: $lpinky, $lthumb, $rthumb; 
                @include holes(1,2);
                @include positions($fingers);
            
            }

            &6CS,
            &6DF {

                $fingers: $lpinky, $rring, $rthumb; 
                @include holes(2,1);
                @include positions($fingers);
                
            }

            &6DN {

                $fingers: $lpinky, $rthumb; 
                @include holes(1,1);
                @include positions($fingers);

            }

            &6DS,
            &6EF {

                $fingers: $rthumb; 
                @include holes(0,1);
                    @include positions($fingers);
                
            }

            &6EN {

                $fingers: $lpinky; 
                @include holes(1,0);
                @include positions($fingers);

            }

            &6FN {

                @include holes();
                @include positions();

            }

            &PAUSE,
            &BAR {
                
                //background: none;

            }

        }

    }