@charset "UTF-8";


$noteColor: rgb(214, 23, 166);
$inputArea: rgb(240, 240, 240);
$inputAreaHeader: rgb(37, 162, 221);




@import "body";
@import "main";

@import "stage";
@import "arrangement";
@import "note";
@import "tab";
@import "bar";

@import "input-area";
@import "keyboard";